source s_quic_receiver {
    program(
        "sudo quic-receiver --port {{ server_port }} --cert {{ path_cert }}  --key {{ path_key }}"
    );
};

destination d_quic_receiver_file {
    file("/var/log/quic_receiver.log");
};

log {
    source(s_quic_receiver);
    destination(d_quic_receiver_file);
};
