source s_inetall {
    syslog (
        port({{server_port}})
        transport("tls")
            tls (
                cert-file("{{ path_cert }}")
                key-file("{{ path_key }}")
                peer-verify(optional-untrusted)
            )
    );
};

destination d_receiver_file {
    file("/var/log/tls_receiver.log");
};

log {
    source(s_inetall);
    destination(d_receiver_file);
};
