destination d_quic_sender {
    program(
        "sudo quic-sender --insecure --debug --host https://{{ server_address }} --port {{ server_port }}"
    );
};

log {
    source(s_src);
    destination(d_quic_sender);
};
