destination d_syslog_sender {
    syslog(
        "{{ server_address }}" 
        port({{ server_port }}) 
        transport("tls")
        tls(
            peer-verify(required-untrusted)
        )
    );

};

log {
    source(s_src);
    destination(d_syslog_sender);
};
